<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PolyBot Logged In!</title>
    <link rel="stylesheet" href="static/styles.css">
    <!-- Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <body class="grid gap-2 grid-cols-3">
    <div class=" text-white"><img class="logo" src="static/icon.png">
      <div class="info">
        <h2 class="mb-5">
          <u>Please follow the steps below to setup the Spotify Plugin:</u>
        </h2>
        <div class="container">
          <div class="row">
            <div class="col">
              <p>1. Goto your<a class="text-green" href="https://developer.spotify.com/dashboard/login" target="blank">dashboard</a>and login</p>
            </div>
            <div class="col-6"><img class="mb-3 img-fluid" src="static/Log In.png" id="align-left"></div>
          </div>
          <div class="row">
            <div class="col">
              <p>2: Click "Create an App"</p>
            </div>
            <div class="col-6"><img class="mb-3 img-fluid" src="static/Create App.png" id="align-left"></div>
          </div>
          <div class="row">
            <div class="col">
              <p>3: Fill In the App Name, Description, and</p>
              <p>Check the "I Agree" box. Then Click "Create"</p>
            </div>
            <div class="col-6"><img class="mb-3 img-fluid" src="static/App Info.png" id="align-left"></div>
          </div>
          <div class="row">
            <div class="col">
              <p>4: Click on "Edit Settings<span class="small-p"><i>
                    <u>(top right)</u></i></span></p>
            </div>
            <div class="col-6"><img class="mb-3 img-fluid" src="static/Edit Settings.png" id="align-left"></div>
          </div>
          <div class="row">
            <div class="col">
              <p>5: Paste "http://localhost:38042" into the "Redirect URIs and click Add</p>
              <input id="host" value="http://localhost:38042">
              <button class="btn btn-light" data-clipboard-target="#host">Copy To Clipboard</button>
            </div>
            <div class="col-6"><img class="mb-3 img-fluid" src="static/Redirect URI.png" id="align-left"></div>
          </div>
          <div class="row">
            <div class="col">
              <p>7: Copy the Client ID and Client Secret to the below Fields and Click Done!</p>
            </div>
            <div class="col-6"><img class="mb-3 img-fluid" src="static/Client Info.png" id="align-left"></div>
          </div>
          <div class="row mt-5">
            <div class="col"><span>Client ID:</span></div>
            <div class="col-6" id="align-left">
              <input id="client-id">
            </div>
          </div>
          <div class="row">
            <div class="col"><span>Client Secret:</span></div>
            <div class="col-6" id="align-left">
              <input id="client-secret">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg">
              <button class="btn btn-success" id="spotify-sign-in-button" onclick="setupSpotify()">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="missing-modal">
      <div class="modal-dialog">
        <div class="modal-header">
          <h1>Missing Credentials</h1>
        </div>
        <div class="modal-body">Please Provide Client ID and Client Secret from Spotify Dashboard</div>
        <div class="modal-footer">
          <button class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script src="static/setup.js"></script>
  </body>
</html>